*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(255, 102, 0);
    color: white;
    padding: 20px 0px;
    display: flex;
}

.left.col{
    width: 30%;
}

.center-col{
    width: 30%;
}

.right-col{
    width: 30%;
}

li{
    list-style: none;
}

/* utility */

.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.display-flex{
    display: flex;
}

.width-50{
    width: 150px;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}